/lustre/beagle2/ober/users/smozaffari/ASE/data/*
/data/*
bin/ref/*.fa
/lustre/beagle2/ober/users/smozaffari/ASE/ref/*
bin/scripts/WASP/*
bin/scripts/WASP
./WASP/
bin/scripts/WASP/master/*
/lustre/beagle2/ober/users/smozaffari/ASE/bin/scripts/WASP/*
/lustre/beagle2/ober/users/smozaffari/ASE/bin/scripts/WASP/master/
/bin/plotscripts/*.pdf
/bin/plotscripts/*.ped
/bin/plotscripts/*.log
/bin/plotscripts/*.map
/bin/plotscripts/*.csv
results/
/bin/tests/*.txt
Anaconda-2.2.0-Linux-x86_64.sh
/bin/ref/star/*
bin/scripts/WASP
bin/ref/UCSC_Annotation/
bin/ref/gene_info
bin/ref/gene_name
bin/ref/gene_name.gtf
bin/ref/gene_name_ordered
bin/ref/hg19/
bin/ref/hg38/alt/
bin/ref/hg38/analysisset/README
bin./ref/hg38/analysisset/README~
bin/ref/hg38/analysisset/bowtie2Index.err
bin/ref/hg38/analysisset/bowtie2Index.out
bin/ref/hg38/analysisset/bowtie2Index/
bin/ref/hg38/analysisset/hg38.analysisSet.chroms.tar.gz
bin/ref/hg38/analysisset/hg38.analysisSet.chroms/
bin/ref/hg38/analysisset/hg38_all.fa
bin/ref/hg38/analysisset/indexBowtie2.sh.o3577406
bin/ref/info
bin/scripts/#master2.sh#
bin/tests/#*
figures/*





/anaconda/*

*.*~
WASP
