/lustre/beagle2/ober/users/smozaffari/ASE/data/*
/data/*
bin/ref/*.fa
/lustre/beagle2/ober/users/smozaffari/ASE/ref/*
bin/scripts/WASP/*
bin/scripts/WASP/master/*
/lustre/beagle2/ober/users/smozaffari/ASE/bin/scripts/WASP/*
/lustre/beagle2/ober/users/smozaffari/ASE/bin/scripts/WASP/master/
/bin/plotscripts/*.pdf
/bin/plotscripts/*.ped
/bin/plotscripts/*.log
/bin/plotscripts/*.map
results/

Anaconda-2.2.0-Linux-x86_64.sh

/anaconda/*

*.*~
